= form_tag ragots_path, method: :post, :id => "new-ragot" do
  = text_area_tag :ragot, nil, :placeholder => "Je vote FVCTIICE car..."
  = submit_tag "Voter FVCTIICE"

%ul#ragots
  - @ragots.each do |ragot|
    %li.ragot
      .date
        = I18n.l ragot.created_at.in_time_zone("Europe/Paris")
      .message
        = ragot.message
      .like
        -if ragot.likes.count == 0
          Ce n'est pas digne du Dictateur
        -elsif ragot.likes.count == 1
          #{ragot.likes.count} personne adore notre Dictateur.
        -else
          #{ragot.likes.count} personnes adorent notre Dictateur.
        .tolike
          - if had_already_liked(ragot)
            = link_to unlike_path(ragot) do
              %i.fa.fa-heart.liked
          - else
            = link_to like_path(ragot) do
              %i.fa.fa-heart.not-liked
